{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <section class="text-center">
    <h1>{{ recipe.title }}</h1>
    {% if recipe.introduction %}<p>{{ recipe.introduction|linebreaks }}</p>{% endif %}
  </section>
  {% if recipe.main_image %}
    <section class="row">
      <img class="offset-md-4 col-md-4"
           src="{{ recipe.main_image.url }}"
           alt="{{ recipe.title }}">
    </section>
  {% endif %}
  <section class="row my-5">
    <div {% if recipe.ingredients_image %} class="col-md-6" {% else %}  class="offset-md-2 col-md-8"{% endif %}>
      <h2>{% translate "Ingredients" %}</h2>
      <ul>
        {% for ingredient in recipe.ingredients.all %}<li>{{ ingredient }}</li>{% endfor %}
      </ul>
    </div>
    {% if recipe.ingredients_image %}
      <div class="col-md-6">
        <img src="{{ recipe.ingredients_image.url }}"
             class="w-100"
             alt="{% translate 'Recipe ingredients' %} | {{ recipe.title }}">
      </div>
    {% endif %}
  </section>
  <section class="row my-5">
    {% if recipe.prep_image %}
      <div class="col-md-6">
        <img src="{{ recipe.prep_image.url }}"
             class="w-100"
             alt="{% translate 'Recipe Preparation' %} | {{ recipe.title }}">
      </div>
    {% endif %}
    <div {% if recipe.prep_image %} class="col-md-6" {% else %}  class="offset-md-2 col-md-8"{% endif %}>
      <h2>{% translate "Preparation" %}</h2>
      <ol>
        {% for step in recipe.steps.all %}<li>{{ step.instruction }}</li>{% endfor %}
      </ol>
    </div>
  </section>
{% endblock content %}
