{% extends "base.html" %}
{% load i18n imagekit %}
{% block extra_meta %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Recipe",
    "name": "{{ recipe.title|escapejs }}",
    {% if recipe.main_image %}
    "image": ["{{ recipe.main_image.url }}"],
    {% endif %}
    {% if recipe.introduction %}
    "description": "{{ recipe.introduction|striptags|truncatewords:50|escapejs }}",
    {% endif %}
    "recipeCategory": "{{ recipe.get_category_display }}",
    "recipeCuisine": "{{ recipe.get_category_display }}",
    {% if recipe.prep_time %}
    "prepTime": "PT{{ recipe.prep_time }}M",
    {% endif %}
    {% if recipe.cook_time %}
    "cookTime": "PT{{ recipe.cook_time }}M",
    {% endif %}
    {% if recipe.total_time %}
    "totalTime": "PT{{ recipe.total_time }}M",
    {% endif %}
    "recipeYield": "1 serving",
    "recipeIngredient": [
      {% for ingredient in recipe.ingredients.all %}
      "{{ ingredient|escapejs }}"{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    "recipeInstructions": [
      {% for step in recipe.steps.all %}
      {
        "@type": "HowToStep",
        "position": {{ step.step_number }},
        "text": "{{ step.instruction|striptags|escapejs }}"
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    ],
    "author": {
      "@type": "Person",
      "name": "{{ brand_name|default:'Chef' }}"
    },
    "keywords": "{{ recipe.get_category_display }}, recipe, food",
    "datePublished": "{{ recipe.created_at|date:'Y-m-d' }}",
    "dateModified": "{{ recipe.updated_at|date:'Y-m-d' }}"
  }
  </script>
{% endblock extra_meta %}

{% block content %}
  <section class="text-center">
    <h1>{{ recipe.title }}</h1>
    {% if recipe.introduction %}<p>{{ recipe.introduction|linebreaks }}</p>{% endif %}
  </section>
  {% if recipe.main_image %}
    <section class="row">
      {% thumbnail '500x500' recipe.main_image format='WEBP' -- alt=recipe.title loading="lazy" class="offset-md-3 col-md-6" %}
      </section>
    {% endif %}
    <section class="row my-5">
      <div {% if recipe.ingredients_image %} class="col-md-6" {% else %}  class="offset-md-2 col-md-8"{% endif %}>
        <h2>{% translate "Ingredients" %}</h2>
        <ul>
          {% for ingredient in recipe.ingredients.all %}<li>{{ ingredient }}</li>{% endfor %}
        </ul>
      </div>
      {% if recipe.ingredients_image %}
        <div class="col-md-6">
          {% thumbnail '500x500' recipe.ingredients_image format='WEBP' -- alt=recipe.title loading="lazy" class="w-100" %}
          </div>
        {% endif %}
      </section>
      <section class="row my-5">
        {% if recipe.prep_image %}
          <div class="col-md-6">
            {% thumbnail '500x500' recipe.prep_image format='WEBP' -- alt=recipe.title loading="lazy" class="w-100" %}
            </div>
          {% endif %}
          <div {% if recipe.prep_image %} class="col-md-6" {% else %}  class="offset-md-2 col-md-8"{% endif %}>
            <h2>{% translate "Preparation" %}</h2>
            <ol>
              {% for step in recipe.steps.all %}<li>{{ step.instruction }}</li>{% endfor %}
            </ol>
          </div>
        </section>
      {% endblock content %}
