{% load i18n %}
<div class="row">
  <center class="mt-4">
    <p>
        {% if request.path_info != "/" %}
            <a href="{% url 'home' %}"> {% trans "Home" %} </a> ✨
            {% endif %}
        <a href="{% url 'privacy' %}"> {% trans "Privacy Policy" %} </a> ✨
        <a href="{% url 'terms' %}"> {% trans "Terms and Condidions" %} </a>
    </p>
    <p>
      <a href="{{ instagram_url }}" rel="nofollow" target="_blank"><i class="bi bi-instagram fs-2"></i></a>
      <a href="{{ telegram_url }}" rel="nofollow" target="_blank"><i class="bi bi-telegram fs-2"></i></a>
      <a href="{{ whatsapp_url }}" rel="nofollow" target="_blank"><i class="bi bi-whatsapp fs-2"></i></a>
    </p>
    <small><i>&copy; <span x-text="new Date().getFullYear()"></span> {{ brand_name }}</i></small>
  </center>
</div>